[submodule "Spine-Detection-with-CNNs"]
	path = Spine-Detection-with-CNNs
	url = https://github.com/pamelaosuna/Spine-Detection-with-CNNs
[submodule "pump"]
	path = pump
	url = https://github.com/pamelaosuna/pump
